<%= simple_form_for [@stop, @connection], :html => {:class => 'form-horizontal', :role => 'form' } do |form| %>
  <div class ="form-inputs">
    <%= form.input :stop_1_id %>
    <%= form.input :stop_2_id %>
    <%= form.input :distance %>
    <%= form.input :duration %>
    <%= form.input :prm_duration %>
  </div>
  <div class="col-sm-offset-3 col-sm-10 actions">
    <%= form.submit %>
    <%= link_to 'Retour', @stop %>
  </div>
<% end %>
