<h2><%= page_title %></h2>

<p>
  <strong><%= t("simple_form.labels.connection.stop1") %> :</strong>
  <%= link_to @connection.stop1.name, stop_path(@connection.stop1_id) %>
  <strong><%= t("simple_form.labels.connection.from") %></strong>
  <%= link_to @connection.stop1.mis.name, miss_path(@connection.stop1.mis.id) %>
</p>

<p>
  <strong><%= t("simple_form.labels.connection.stop2") %> :</strong>
  <%= link_to @connection.stop2.name, stop_path(@connection.stop2_id) %>
  <strong><%= t("simple_form.labels.connection.from") %></strong>
  <%= link_to @connection.stop2.mis.name, miss_path(@connection.stop2.mis.id) %>
</p>

<p>
  <strong><%= t("simple_form.labels.connection.distance") %> :</strong>
  <%= @connection.distance %>
</p>

<p>
  <strong><%= t("simple_form.labels.connection.duration") %> :</strong>
  <%= @connection.duration %>
</p>

<p>
  <strong><%= t("simple_form.labels.connection.prm_duration") %> :</strong>
  <%= @connection.prm_duration %>
</p>

<p>
  <strong><%= t("simple_form.labels.connection.active") %> :</strong>
  <% if @connection.active? %>
    <%= t("simple_form.labels.connection.valid") %>
  <% else %>
    <%= t("simple_form.labels.connection.invalid") %>
  <% end %>
</p>


<!--%= link_to 'Edit', edit_stop_connection_path([@stop, @connection]) % -->
<%= link_to 'Back', @stop %>
