<h2><%= page_title %></h2>

<p>
  <strong><%= t("simple_form.labels.connection.stop_1_id") %>:</strong>
  <%= @connection.stop_1_id %>
</p>

<p>
  <strong><%= t("simple_form.labels.connection.stop_2_id") %>:</strong>
  <%= @connection.stop_2_id %>
</p>

<p>
  <strong><%= t("simple_form.labels.connection.distance") %>:</strong>
  <%= @connection.distance %>
</p>

<p>
  <strong><%= t("simple_form.labels.connection.duration") %>:</strong>
  <%= @connection.duration %>
</p>

<p>
  <strong><%= t("simple_form.labels.connection.prm_duration") %>:</strong>
  <%= @connection.prm_duration %>
</p>


<!--%= link_to 'Edit', edit_stop_connection_path([@stop, @connection]) % -->
<%= link_to 'Back', @stop %>
