<p id="notice"><%= notice %></p>

<p>
  <strong>Stop 1:</strong>
  <%= @connection.stop_1_id %>
</p>

<p>
  <strong>Stop 2:</strong>
  <%= @connection.stop_2_id %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @connection.distance %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @connection.duration %>
</p>

<p>
  <strong>Prm duration:</strong>
  <%= @connection.prm_duration %>
</p>


<!--%= link_to 'Edit', edit_stop_connection_path([@stop, @connection]) % -->
<%= link_to 'Back', @stop %>
