<h2><%= page_title %></h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Sims</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Multiple starts and arrivals</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mi_systems.each do |mi_system| %>
      <tr>
        <td><%= mi_system.name %></td>
        <td><%= mi_system.start_date %></td>
        <td><%= mi_system.end_date %></td>
        <td><%= mi_system.multiple_starts_and_arrivals %></td>
        <td><%= link_to 'Consulter', mi_system %></td>
        <td><%= link_to 'Supprimer', mi_system, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
