<h2><%= page_title %></h2>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th><%= t("simple_form.labels.mi_system.name") %></th>
      <th><%= t("simple_form.labels.mi_system.start_date") %></th>
      <th><%= t("simple_form.labels.mi_system.end_date") %></th>
      <th><%= t("simple_form.labels.mi_system.multiple_starts_and_arrivals") %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @mi_systems.each do |mi_system| %>
      <tr>
        <td><%= mi_system.name %></td>
        <td><%= mi_system.start_date %></td>
        <td><%= mi_system.end_date %></td>
        <td><%= mi_system.multiple_starts_and_arrivals %></td>
        <td><%= link_to 'Consulter', mi_system, :class => "btn btn-sm btn-default" %> <%= link_to 'Supprimer', mi_system, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-sm btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
