<div class="row">   
  <div class="col-md-4">      
    <p>
      <ul class="list-group">
        <li class="list-group-item title">
          <%= icon('info-circle') %><strong>Info Sim</strong>
        </li>
        <li class="list-group-item">
          <strong>Nom:</strong> <%= @mi_system.name %>
        </li>
        <li class="list-group-item">
          <strong>Api url:</strong> <%= @mi_system.api_url %>
        </li>
        <li class="list-group-item">
          <strong>Api key:</strong> <%= @mi_system.api_key %>
        </li>
        <li class="list-group-item">
          <strong>Période:</strong> du <%= l @mi_system.start_date %> au <%= l @mi_system.end_date %>
        </li>
      </ul>
    </p>
    <p>
      <ul class="list-group">
        <li class="list-group-item title">
          <%= icon('check') %><strong>Mode(s) atourisé(s)</strong>
        </li>
        <li class="list-group-item">
          <% @mi_system.modes.each do |mode| %>
            <span class="mode"><%= mode.mode_code %></span>
          <% end %>
        </li>
      </ul>
    </p>
    <p>
      <ul class="list-group">
        <li class="list-group-item title">
          <%= icon('list') %><strong>Capacités</strong>
        </li>
        <li class="list-group-item">
          <%= @mi_system.comment %>
        </li>
      </ul>
    </p>
  </div>
  <div class="col-md-8">
    <!-- html map container -->
    <%= map_layers_container(@map, :class => 'small_size', :include_loading => true) %>     
    <!-- map_layers js scripts and if necessary its dependencies -->
    <%= map_layers_includes(@map, :onload => true) %>
  </div>
</div>
