<h2><%= page_title %></h2>

<div class="lines paginated_content">
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Identifiant</th>
      <th>Type</th>
      <th>SIM</th>
      <th>Code INSEE</th>
      <th>Mode de transport</th>
      <th>Lat</th>
      <th>Lon</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @stops.each do |stop| %>
      <tr>
        <td><%= link_to stop.name, stop_path(stop.id) %></td>
        <td><%= stop.stop_code %></td>
        <td><%= stop.quay_type %></td>
        <td><% if stop.mi_system %> <%= link_to stop.mi_system.name, mi_system_path(stop.mi_system_id) %><% end %></td>
        <td><%= stop.administrative_code %></td>
        <td><%= stop.transport_mode %></td>
        <td><%= stop.shape.y %></td>
        <td><%= stop.shape.x %></td>
	<td><%= link_to 'Visualiser', "stops/#{stop.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="pagination">
  <%= will_paginate @stops, :container => false, renderer: BootstrapPagination::Rails %>
</div>

<%= link_to 'Back', @mi_system %>
