<%= simple_form_for @stop_search, :html => {:class => 'form-horizontal', :role => 'form' } do |form| %>
  <div class ="form-inputs">
    <%= form.input :stop_name %>
    <%= form.input :postal_code %>
    <%= form.input :administrative_code %>
    <%= form.input :stop_code %>
    <%= form.input :stop_id %>
    <%= form.input :neighbour_stop_id %>
    <!-- <%= form.input :neighbour_stop_code %> -->
    <%= form.input :mis_id %>
    <%= form.input :mis_name %>
    <% unless Connection.all.empty? %>
    <%= form.input :has_transition, as: :boolean %>
    <% end %>
  </div>
  <div class="col-sm-offset-3 col-sm-10 actions">
    <%= form.submit "Rechercher" %>
  </div>
<% end %>
