<h1>Listing stop_searches</h1>

<div class="lines paginated_content">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Stop name</th>
      <th>Postal code</th>
      <th>Administrative code</th>
      <th>Stop code</th>
      <th>Stop</th>
      <th>Mis</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stop_search.results.each do |stop| %>
      <tr>
        <td><%= stop.name %></td>
        <td><%= stop.administrative_code %></td>
        <td><%= stop.administrative_code %></td>
        <td><%= stop.stop_code %></td>
        <td><%= stop.id %></td>
        <td><%= stop.mi_system_id %></td>
        <td><%= link_to 'Show', stop %></td>
        <td><%= link_to 'Destroy', stop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


<br>

<%= link_to 'New Stop search', new_stop_search_path %>
