<h1>Listing stop_searches</h1>

<table>
  <thead>
    <tr>
      <th>Stop name</th>
      <th>Postal code</th>
      <th>Administrative code</th>
      <th>Stop code</th>
      <th>Stop</th>
      <th>Neighbour stop</th>
      <th>Mis</th>
      <th>Has transition</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stop_searches.each do |stop_search| %>
      <tr>
        <td><%= stop_search.stop_name %></td>
        <td><%= stop_search.postal_code %></td>
        <td><%= stop_search.administrative_code %></td>
        <td><%= stop_search.stop_code %></td>
        <td><%= stop_search.stop_id %></td>
        <td><%= stop_search.neighbour_stop_id %></td>
        <td><%= stop_search.mis_id %></td>
        <td><%= stop_search.has_transition %></td>
        <td><%= link_to 'Show', stop_search %></td>
        <td><%= link_to 'Edit', edit_stop_search_path(stop_search) %></td>
        <td><%= link_to 'Destroy', stop_search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stop search', new_stop_search_path %>
