<p id="notice"><%= notice %></p>

<p>
  <strong>Stop name:</strong>
  <%= @stop_search.stop_name %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @stop_search.postal_code %>
</p>

<p>
  <strong>Administrative code:</strong>
  <%= @stop_search.administrative_code %>
</p>

<p>
  <strong>Stop code:</strong>
  <%= @stop_search.stop_code %>
</p>

<p>
  <strong>Stop:</strong>
  <%= @stop_search.stop_id %>
</p>

<p>
  <strong>Neighbour stop:</strong>
  <%= @stop_search.neighbour_stop_id %>
</p>

<p>
  <strong>Mis:</strong>
  <%= @stop_search.mis_id %>
</p>

<p>
  <strong>Has transition:</strong>
  <%= @stop_search.has_transition %>
</p>

<%= link_to 'Edit', edit_stop_search_path(@stop_search) %> |
<%= link_to 'Back', stop_searches_path %>
