<%= form_for@stop, :html => { :class => "form-horizontal" } do |f| %>
  <% if @stop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stop.errors.count, "error") %> prohibited this stop from being saved:</h2>

      <ul>
      <% @stop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :stop_code, :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.number_field :stop_code %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :mi_system_id, :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :mi_system_id %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name, :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :type, :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.number_field :type %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :administrative_code, :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_area :administrative_code %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :site_ref, :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.number_field :site_ref %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :transport_mode, :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_area :transport_mode %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :quay_type, :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_area :quay_type %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :lat, :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :lat %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :lon, :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :lon %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :shape, :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :shape %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9 actions">
       <%= f.submit %> | <%= link_to 'Back', stops_path %>
    </div>
  </div>
<% end %>
