<h2><%= page_title %></h2>

<%= search_form_for @q, :url => stops_path, wrapper: "inline_form", :remote => true, :html => {:method => :get, class: "form-inline", :id => "search", role: "form"} do |f| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="input-group col-md-10">
      <%= f.input_field :name_cont, :placeholder => t('stop.search_by_name'), :class => 'form-control' %>
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
      </div>
    </div><!-- /input-group -->
    <a data-toggle="collapse" data-parent="#search" href="#advanced_search">
      <i class="fa fa-plus"></i> <%= t('stop.advanced_search') %>
    </a>
  </div>

  <div id="advanced_search" class="panel-collapse collapse">
    <div class="panel-body">
      <div>
        <%= f.input :mis_id_eq, as: :select, :collection => Mis.all, :include_blank => t("stop.sim") %>
        <%= f.input :administrative_code_cont, :placeholder => t("stop.postal_code") %>
        <%= f.input :code_cont, :placeholder => t("stop.stop_code") %>
      </div>
      <div>
        <span><%= t("stop.search_neighbour") %> </span><%= f.input :origin, :placeholder => "43.90909,2.787778", :title => t("stop.search_neighbour_position")  %>
        <%= f.input :distance, :as => :integer, :placeholder => "300", :title => t("stop.search_neighbour_distance") %>
      </div>
    </div>
  </div>
</div>
<% end %>
<% if @map %>
  <div class="col-md-8">
    <!-- html map container -->
    <%= map_layers_container(@map, :class => 'small_size', :include_loading => true) %>
    <!-- map_layers js scripts and if necessary its dependencies -->
    <%= map_layers_includes(@map, :onload => true) %>
  </div>
<% end %>

<div id="stops"><%= render 'stops' %></div>
