<h2><%= page_title %></h2>

<%= search_form_for @q, :url => stops_path, wrapper: "inline_form", :remote => true, :html => {:method => :get, class: "form-inline", :id => "search", role: "form"} do |f| %>
<div class="panel panel-default">
  <div class="panel-heading">   
    <div class="input-group col-md-10">   
      <%= f.input_field :name_cont, :placeholder => "Recherche par nom", :class => 'form-control' %>
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
      </div>
    </div><!-- /input-group -->
    <a data-toggle="collapse" data-parent="#search" href="#advanced_search">
      <i class="fa fa-plus"></i> Recherche Avancée
    </a>
  </div>
  
  <div id="advanced_search" class="panel-collapse collapse">          
    <div class="panel-body">
      <div>
        <%= f.input :mis_id_eq, as: :select, :collection => Mis.all, :include_blank => "Sim" %>
        <%= f.input :administrative_code_cont, :placeholder => "Code Postal" %>
        <%= f.input :code_cont, :placeholder => "Code Arret" %>
        <%= f.input :having_connection, :as => :boolean %> <span>Possède une transition</span>
      </div>
      <div>
        <span>Recherche autour d'un point : </span><%= f.input :origin, :placeholder => "2.787778,43.90909", :title => "Coordonnées latitude,longitude avec comme séparateur décimal le point"  %>
        <%= f.input :distance, :as => :integer, :placeholder => "300", :title => "Distance maximum en mètres autour du point" %>        
      </div>
    </div>
  </div>
</div>
<% end %>

<div id="stops"><%= render 'stops' %></div>
