<div class="row">   
  <div class="col-md-4">      
    <p>
      <ul class="list-group">
        <li class="list-group-item disabled title">
          <%= icon('info-circle') %><strong>Info Arrêt</strong>
        </li>
        <li class="list-group-item">
          <strong>Nom:</strong> <%= @stop.name %>
        </li>
        <li class="list-group-item">
          <strong>Id Sim:</strong> <%= @stop.mi_system.id %>
        </li>
        <li class="list-group-item">
          <strong>Sim:</strong> <%= @stop.mi_system.name %>
        </li>
        <li class="list-group-item">
          <strong>Latitude-Longitude:</strong> <%= @stop.shape.y if @stop.shape %> - <%= @stop.shape.x if @stop.shape %>
        </li>
        <li class="list-group-item">
          <strong>Code Postal:</strong> <%= @stop.administrative_code %>
        </li>
      </ul>
    </p>
  </div>
  <div class="col-md-8">
    <!-- html map container -->
    <%= map_layers_container(@map, :class => 'small_size', :include_loading => true) %>     
    <!-- map_layers js scripts and if necessary its dependencies -->
    <%= map_layers_includes(@map, :onload => true) %>
  </div>
</div>
<div class="row">   
  <p>
    <ul class="list-group">
      <li class="list-group-item disabled title">
        <div class="pull-left"><%= icon('link') %><strong>Transitions</strong></div>
        <div class="pull-right"><%= link_to '<i class="fa fa-plus"></i>Ajout de transition'.html_safe, new_stop_connection_path(@stop), :class => "btn btn-sm btn-default" %></div>
        <div class="clearfix"/>
      </li>
      <li class="list-group-item">
        <table class="table table-hover table-strip">
          <thead>
            <tr>
              <th>#</th>
              <th>Id Source</th>
              <th>Sim</th>
              <th>Id rel Sim</th>
              <th>Nom</th>
              <th>Code Postal</th>
              <th>Durée (min)</th>
              <th>Durée PMR (min)</th>
              <th>Actif</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% i = 0.to_i %>
            <% @stop.connections.each do |connection| %>
            <% i = i.to_i + 1 %>
            <tr>
              <td><%= i %></td>
              <td><%= connection.stop_2.mi_system.id %></td>
              <td><%= connection.stop_2.mi_system.name %></td>
              <td><%= connection.stop_2.site_ref %></td>
              <td><%= connection.stop_2.name %></td>
              <td><%= connection.stop_2.administrative_code %></td>
              <td><%= connection.duration %></td>
              <td><%= connection.prm_duration %></td>             
              <td>
                <div class="btn-group" data-toggle="buttons" data-toggle-default-class="btn-default">
                  <%= link_to( 'Oui', validate_connection_stop_connection_path(@stop, connection), :class => "btn btn-sm #{connection.validity? ? 'btn-primary' : 'btn-default'}", method: :patch ) %>
                  <%= link_to( 'Non', invalidate_connection_stop_connection_path(@stop, connection), :class => "btn btn-sm #{ !connection.validity? ? 'btn-primary' : 'btn-default'}", method: :patch ) %>
                </div>                
              </td>
              <td>
                <%= link_to 'Modifier', edit_stop_connection_path(@stop, connection), :class => 'btn btn-default btn-sm' %>
                <%= link_to 'Supprimer', stop_connection_path(@stop, connection), method: :delete, data: { confirm: 'Voulez-vous vraiment supprimer cette transition ?' }, :class => 'btn btn-danger btn-sm' %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>       
      </li>
    </ul>
  </p>
</div>  
