<div class="row">   
  <div class="col-md-4">      
    <p>
      <ul class="list-group">
        <li class="list-group-item disabled title">
          <%= icon('info-circle') %><strong>Info Arrêt</strong>
        </li>
        <li class="list-group-item">
          <strong>Nom :</strong> <%= @stop.name %>
        </li>
        <li class="list-group-item">
          <strong>Identifiant :</strong> <%= @stop.code %>
        </li>
	<li class="list-group-item">
          <strong>Type :</strong> <%= @stop.quay_type %>
        </li>
        <li class="list-group-item">
          <strong>SIM :</strong> <%= link_to @stop.mis.name, miss_path(@stop.mis.id) %>
        </li>
        <li class="list-group-item">
          <strong>Latitude-Longitude :</strong> <%= @stop.lat %> - <%= @stop.lon %>
        </li>
        <li class="list-group-item">
          <strong>Code INSEE :</strong> <%= @stop.administrative_code %>
        </li>
      </ul>
    </p>
  </div>
  <div class="col-md-8">
    <!-- html map container -->
    <%= map_layers_container(@map, :class => 'small_size', :include_loading => true) %>     
    <!-- map_layers js scripts and if necessary its dependencies -->
    <%= map_layers_includes(@map, :onload => true) %>
  </div>
</div>
<div class="row">   
  <p>
    <ul class="list-group">
      <li class="list-group-item disabled title">
        <div class="pull-left"><%= icon('link') %><strong>Transitions</strong></div>
        <div class="pull-right"><%= link_to '<i class="fa fa-plus"></i>Ajout de transition'.html_safe, new_stop_connection_path(@stop), :class => "btn btn-sm btn-default" %></div>
        <div class="clearfix"/>
      </li>
      <% unless @stop.primary_connections.empty? %>
      <li class="list-group-item">
        <table class="table table-hover table-strip">
          <thead>
            <tr>
              <th>#</th>
              <th>Vers l'arrêt</th>
              <th>Identifiant</th>
              <th>SIM</th>
              <th>Code INSEE</th>
              <th>Durée (min)</th>
              <th>Durée PMR (min)</th>
              <th>Actif</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% i = 0.to_i %>
            <% @stop.primary_connections.each do |connection| %>
            <% i = i.to_i + 1 %>
            <tr>
              <td><%= i %></td>
              <td><%= link_to connection.stop2.name, stop_path(connection.stop2_id) %></td>
              <td><%= connection.stop2.code %></td>
              <td><%= link_to connection.stop2.mis.name, miss_path(connection.stop2.mis.id) %></td>
              <td><%= connection.stop2.administrative_code %></td>
              <td><%= connection.duration %></td>
              <td><%= connection.prm_duration %></td>             
              <td>
                <div class="btn-group" data-toggle="buttons" data-toggle-default-class="btn-default">
                  <%= link_to( 'Oui', validate_connection_stop_connection_path(@stop, connection), :class => "btn btn-sm #{connection.active? ? 'btn-primary' : 'btn-default'}", method: :patch ) %>
                  <%= link_to( 'Non', invalidate_connection_stop_connection_path(@stop, connection), :class => "btn btn-sm #{ !connection.active? ? 'btn-primary' : 'btn-default'}", method: :patch ) %>
                </div>                
              </td>
              <td>
                <%= link_to 'Modifier', edit_stop_connection_path(@stop, connection), :class => 'btn btn-default btn-sm' %>
                <%= link_to 'Supprimer', stop_connection_path(@stop, connection), method: :delete, data: { confirm: 'Voulez-vous vraiment supprimer cette transition ?' }, :class => 'btn btn-danger btn-sm' %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>       
      </li>
      <% end %>
      <% unless @stop.secondary_connections.empty? %>
      <li class="list-group-item">
        <table class="table table-hover table-strip">
          <thead>
            <tr>
              <th>#</th>
              <th>Depuis l'arrêt</th>
              <th>Identifiant</th>
              <th>SIM</th>
              <th>Code INSEE</th>
              <th>Durée (min)</th>
              <th>Durée PMR (min)</th>
              <th>Actif</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% i = 0.to_i %>
            <% @stop.secondary_connections.each do |connection| %>
            <% i = i.to_i + 1 %>
            <tr>
              <td><%= i %></td>
              <td><%= link_to connection.stop1.name, stop_path(connection.stop1_id) %></td>
              <td><%= connection.stop1.code %></td>
              <td><%= link_to connection.stop1.mis.name, miss_path(connection.stop1.mis.id) %></td>
              <td><%= connection.stop1.administrative_code %></td>
              <td><%= connection.duration %></td>
              <td><%= connection.prm_duration %></td>             
              <td>
                <div class="btn-group" data-toggle="buttons" data-toggle-default-class="btn-default">
                  <%= link_to( 'Oui', validate_connection_stop_connection_path(@stop, connection), :class => "btn btn-sm #{connection.active? ? 'btn-primary' : 'btn-default'}", method: :patch ) %>
                  <%= link_to( 'Non', invalidate_connection_stop_connection_path(@stop, connection), :class => "btn btn-sm #{ !connection.active? ? 'btn-primary' : 'btn-default'}", method: :patch ) %>
                </div>                
              </td>
              <td>
                <%= link_to 'Modifier', edit_stop_connection_path(@stop, connection), :class => 'btn btn-default btn-sm' %>
                <%= link_to 'Supprimer', stop_connection_path(@stop, connection), method: :delete, data: { confirm: 'Voulez-vous vraiment supprimer cette transition ?' }, :class => 'btn btn-danger btn-sm' %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>       
      </li>
      <% end %>
    </ul>
  </p>
</div>  
