<div class="jumbotron">
  <h1>Bienvenue!!</h1>
  <div class="row">   
    <div class="col-md-8">
      <p>
        <h2>APII-SIM Admin</h2>
         Backoffice des "méta-données" fournissant les outils nécessaires à la supervision de l'actualisation des méta-données et à leurs rectifications.   
      </p>
      <p>
        <a class="btn btn-primary btn-lg" role="button">Rechercher un arrêt</a>
      </p>
    </div>
    <div class="col-md-4">
      <%= image_tag "itineraire.jpg", :class => "img-rounded"  %>
    </div>
  </div>
</div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-6">
      <h2>Sims</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Arrêts</th>
            <th>Connections</th>
          </tr>
        </thead>

        <tbody>
          <% @mi_systems.each do |mi_system| %>
          <tr>
            <td><%= mi_system.name %></td>
            <td><%= mi_system.stops.size %></td>
            <td><%= mi_system.connections.size %></td>            
          </tr>
          <% end %>
        </tbody>
      </table>

      <p><%= link_to 'Voir détails &raquo;'.html_safe, mi_systems_path, :class => "btn btn-default" %></p>
    </div>
    <div class="col-md-6">
      <h2>Imports</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Date</th>
            <th>Résultat</th>
            <th>Durée</th>
            <th>Transitions</th>
          </tr>
        </thead>

        <tbody>
          <% @stops.each do |stop| %>
          <tr>
            <td><%= stop.stop_code %></td>
            <td><%= stop.mi_system %></td>
            <td><%= stop.name %></td>
            <td><%= stop.type %></td>           
          </tr>
          <% end %>
        </tbody>
      </table>
      <p><%= link_to 'Voir détails &raquo;'.html_safe, stops_path, :class => "btn btn-default" %></p>
    </div>
  </div>
