<div class="jumbotron">  
  <div class="row">   
    <div class="col-md-8">      
      <p>
        <h1><%= t("welcome.title") %></h1>
	<%= t("welcome.body") %>
      </p>
      <p>
        <%= link_to t("welcome.stop_search"), stops_path, :class => "btn btn-info btn-lg" %>
      </p>
    </div>
    <div class="col-md-4">
      <%= image_tag "itineraire.jpg", :class => "img-rounded"  %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <%= t("simple_form.labels.mis.title") %>
      </div>
      <div class="panel-body">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th><%= t("simple_form.labels.mis.name") %></th>
	      <th><%= t("simple_form.labels.mis.start_date") %></th>
	      <th><%= t("simple_form.labels.mis.end_date") %></th>
              <th><%= t("simple_form.labels.mis.number_of_stops") %></th>
              <th><%= t("simple_form.labels.mis.number_of_connections") %></th>
            </tr>
          </thead>

          <tbody>
            <% @miss.limit(10).each do |mis| %>
            <tr>
              <td><%= link_to mis.name, miss_path(mis.id) %></td>
              <td><%= mis.start_date %></td>
              <td><%= mis.end_date %></td>
              <td><%= mis.stops.size %></td>
              <td><%= mis.connections.size %></td>            
            </tr>
            <% end %>
          </tbody>
        </table>

        <p><%= link_to t("simple_form.labels.mis.see_details").html_safe, miss_index_path, :class => "btn btn-default" %></p>
      </div>
    </div>            
  </div>
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
	<%= t("simple_form.labels.imports.title") %>
      </div>
      <div class="panel-body">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th><%= t("simple_form.labels.imports.start_date") %></th>
              <th><%= t("simple_form.labels.imports.result") %></th>
              <th><%= t("simple_form.labels.imports.number_of_stops") %></th>
              <th><%= t("simple_form.labels.imports.number_of_transfers") %></th>
              <th><%= t("simple_form.labels.imports.number_of_mis_connections") %></th>
            </tr>
          </thead>

          <tbody>
            <% @imports.limit(10).each do |import| %>
            <tr>
              <td><%= import.start_date %></td>
              <td><%= import.result %></td>
              <td><%= import.nb_stops %></td>
              <td><%= import.nb_transfers %></td>
              <td><%= import.nb_mis_connections %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <p><%= link_to t("simple_form.labels.imports.see_details").html_safe, imports_path, :class => "btn btn-default" %></p>
      </div>
    </div>      
  </div>
</div>
