<div class="row">   
  <p>
    <ul class="list-group">
      <li class="list-group-item disabled title">
        <div class="pull-left"><%= icon('link') %><strong>Transitions</strong></div>
        <div class="clearfix"/>
      </li>
      <% unless @connections.empty? %>
      <li class="list-group-item">
        <table class="table table-hover table-strip">
          <thead>
            <tr>
              <th>#</th>
	      <th>De l'arrêt</th>
              <th>Identifiant</th>
              <th>SIM départ</th>
              <th>Vers l'arrêt</th>
              <th>Identifiant</th>
              <th>SIM arrivée</th>
              <th>Code INSEE</th>
              <th>Durée (min)</th>
              <th>Durée PMR (min)</th>
              <th>Actif</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% i = 0.to_i %>
            <% @connections.each do |connection| %>
            <% i = i.to_i + 1 %>
            <tr>
              <td><%= i %></td>
              <td><%= link_to connection.stop1.name, stop_path(connection.stop1_id) %></td>
              <td><%= connection.stop1.code %></td>
              <td><%= link_to connection.stop1.mis.name, miss_path(connection.stop1.mis.id) %></td>
              <td><%= link_to connection.stop2.name, stop_path(connection.stop2_id) %></td>
              <td><%= connection.stop2.code %></td>
              <td><%= link_to connection.stop2.mis.name, miss_path(connection.stop2.mis.id) %></td>
              <td><%= connection.stop2.administrative_code %></td>
              <td><%= connection.duration %></td>
              <td><%= connection.prm_duration %></td>             
              <td>
		<% if connection.active? %>
                  <%= 'Oui' %>
                <% else %>
                  <%= 'Oui' %>
                <% end %>		
              </td>
	      <td><%= link_to 'Visualiser', "connections/#{connection.id}" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>       
      </li>
      <% end %>
    </ul>
  </p>
</div>  

<%= link_to 'Back', miss_path(@mis) %>
