<h2><%= page_title %></h2>

<div class="row">   
  <div class="col-md-4">      
    <p>
      <ul class="list-group">
        <li class="list-group-item disabled title">
          <%= icon('info-circle') %><strong>Info Sim</strong>
        </li>
        <li class="list-group-item">
          <strong>Nom :</strong> <%= @mis.name %>
        </li>
        <li class="list-group-item">
          <strong>URL :</strong> <%= link_to @mis.api_url, @mis.api_url %>
        </li>
        <li class="list-group-item">
          <strong>Api key :</strong> <%= @mis.api_key %>
        </li>
        <li class="list-group-item">
          <strong>Période :</strong> du <%= l @mis.start_date %> au <%= l @mis.end_date %>
        </li>
	<li class="list-group-item">
	  <strong># d'arrêts :</strong>
	  <%= @mis.stops.size %>
	  <%= link_to 'Liste des arrêts du SIM', stops_miss_path(@mis) %>
	</li>
	<li class="list-group-item">
	  <strong># de connections :</strong><%= @mis.connections.size %>
	  <%= link_to 'Liste des connections du SIM', connections_miss_path(@mis) %>
        </li>
      </ul>
    </p>
    <p>
      <ul class="list-group">
        <li class="list-group-item disabled title">
          <%= icon('check') %><strong>Mode(s) autorisé(s)</strong>
        </li>
        <li class="list-group-item">
          <% @mis.modes.each do |mode| %>
          <span class="mode"><%= mode.code %></span>
          <% end %>
        </li>
      </ul>
    </p>
    <p>
      <ul class="list-group">
        <li class="list-group-item disabled title">
          <%= icon('list') %><strong>Capacités</strong>
        </li>
        <li class="list-group-item">
          <% case @mis.multiple_start_and_arrivals %>
	  <% when 1 %>
	  <%= 'Recherche itinéraire n x m non détaillée' %>
	  <% end %>
        </li>
      </ul>
    </p>
  </div>
  <div class="col-md-8">
    <!-- html map container -->
    <%= map_layers_container(@map, :class => 'small_size', :include_loading => true) %>     
    <!-- map_layers js scripts and if necessary its dependencies -->
    <%= map_layers_includes(@map, :onload => true) %>
  </div>


</div>

