<h2><%= page_title %></h2>

<div class="row">   
  <div class="col-md-4">      
    <p>
      <ul class="list-group">
        <li class="list-group-item disabled title">
          <%= icon('info-circle') %><strong><%= t("sim.info") %></strong>
        </li>
        <li class="list-group-item">
          <strong><%= t("simple_form.labels.mis.name") %> :</strong> <%= @mis.name %>
        </li>
        <li class="list-group-item">
          <strong><%= t("simple_form.labels.mis.api_url") %> :</strong> <%= link_to @mis.api_url, @mis.api_url %>
        </li>
        <li class="list-group-item">
          <strong><%= t("simple_form.labels.mis.api_key") %> :</strong> <%= @mis.api_key %>
        </li>
        <li class="list-group-item">
          <strong><%= t("simple_form.labels.mis.period") %> :</strong> 
	  <%= t("simple_form.labels.mis.period_from") %> <%= l @mis.start_date %>
	  <%= t("simple_form.labels.mis.period_to") %><%= l @mis.end_date %>
        </li>
	<li class="list-group-item">
	  <strong><%= t("simple_form.labels.mis.number_of_stops") %> :</strong>
	  <%= link_to @mis.stops.size, miss_stops_path(@mis.id) %>
	  <!-- %= link_to t('sim.list_of_stops'), '#' % -->
	</li>
	<li class="list-group-item">
	  <strong><%= t("simple_form.labels.mis.number_of_connections") %> : </strong>
	  <%= link_to @mis.connections.size, miss_connections_path(@mis.id) %>
	  <!-- %= link_to t('sim.list_of_connections'), '#' % -->
        </li>
      </ul>
    </p>
    <p>
      <ul class="list-group">
        <li class="list-group-item disabled title">
          <%= icon('check') %><strong><%= t("sim.allowed_modes") %></strong>
        </li>
        <li class="list-group-item">
          <% @mis.modes.each do |mode| %>
          <span class="mode"><%= mode.code %></span>
          <% end %>
        </li>
      </ul>
    </p>
    <p>
      <ul class="list-group">
        <li class="list-group-item disabled title">
          <%= icon('list') %><strong><%= t("sim.capacity") %></strong>
        </li>
        <li class="list-group-item">
          <% case @mis.multiple_start_and_arrivals %>
	  <% when 1 %>
	  <%= t("sim.capacity_n_m") %>
	  <% end %>
        </li>
      </ul>
    </p>
  </div>
  <div class="col-md-8">
    <!-- html map container -->
    <%= map_layers_container(@map, :class => 'small_size', :include_loading => true) %>     
    <!-- map_layers js scripts and if necessary its dependencies -->
    <%= map_layers_includes(@map, :onload => true) %>
  </div>


</div>

