<p id="notice"><%= notice %></p>

<p>
  <strong>Mode code:</strong>
  <%= @mode.mode_code %>
</p>

<p>
  <strong>Mode description:</strong>
  <%= @mode.mode_description %>
</p>

<%= link_to 'Edit', edit_mode_path(@mode) %> |
<%= link_to 'Back', modes_path %>
